.table_image{
    width: 100%;
    height: 100%;
}
.player_entry{
    color: white;
}

.disabledSeeButton{
   color: #00c642;
   background-color: rgb(240, 240, 240);
   border-radius: 10px;
   width:50%;
   height: 20%;
   position: relative;
   left: 25%;
   padding-top: 6px;
   
}
.gift{
    background-color: rgb(232, 95, 99);
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.giftInput{
    background-color: white;
    width: 40px;
    margin-left: 10px;
    padding-left: 2px;
}

.giftInputBlock{
    background-color: wheat;
}

.giftDone{
    background-color: rgb(232, 95, 99);
}

.pool_money{
    color: white;
    position: absolute;
    left: 50%;
}
.players_list {
    position: absolute;
    top: 10%; /* Adjust to place names in the correct vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 100%;
    display: flex;
    flex-direction: column; /* Display player names in rows */
    align-items: center; /* Center the names horizontally */
    background-color: transparent;
    padding: 10px;
    
  }
  
  p{
    background-color: transparent;
    
  }
  #tp{
    margin-right: 20px;
    font-size:large;
  }
  #checkbox{
    transform: scale(1.4);
  }
  label{
    background-color: transparent;
    display: flex;
    margin: 8px;
  }
  #checkbox{
    margin-left:10px;
  }
  li{
    background-color: transparent;
  }
  ul{
    background-color: transparent;
    display: flex;
    
    
    width: 100%;
    display: flex;
    flex-direction: column; /* Display player names in rows */
    align-items: center; /* Center the names horizontally */
    background-color: transparent;
    padding: 10px;
  }
.movesbg{
    width: 100%; /* Ensure the image fits the container */
  height: 100%; /* Optional: Stretch to fit */
  object-fit: cover; /* Maintain aspect ratio */
}
html, body {
    margin: 0;             /* Remove default margin */
    padding: 0;            /* Remove default padding */
    width: 100%;           /* Ensure full width of the viewport */
    height: 100%;          /* Ensure full height of the viewport */
    overflow: hidden;      /* Prevent both horizontal and vertical scrolling */
    box-sizing: border-box; /* Include padding and border in dimensions */
}

.table_container{
    color: black;
    width: 100vw;
    height: 74vh;
    padding: 24px;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 20vh;
}
.moves_block {
    display: flex;
    justify-content: space-between; /* Space the boxes out evenly */
    position: absolute; /* Position the content over the image */
    top: 80%; /* Center vertically */
    left: 0;
    right: 10px;
    height: 20%;
    background-color: transparent;
  }
.moves_block div{
  width: 33.33%; /* Each div takes up 1/3 of the container width */
  
  background-color: rgba(0, 0, 0, 0.6); /* Optional: background color */
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
}
.score{
  font-size: large;
}
.second_section{
    padding: 0px;
    display: flex;
    flex-direction: column; /* Stack the text elements vertically */
    justify-content: space-evenly; /* Evenly space the text elements */
    height: 100%; /* Take full height of the container */
    padding: 0px;
    width: 100%;
}
.condDiv{
    position: absolute;
    top: 6%; /* Adjust to place names in the correct vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 100%;
    display: flex;
    flex-direction: column; /* Display player names in rows */
    align-items: center; /* Center the names horizontally */
    background-color: transparent;
    padding: 10px;
}

.moves_block text{
   margin: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.moves_block button{
    width:85%;
    height: 34%;
    border-radius: 10px;
    color: #FCF7BD;
    font-size: medium;
    background-color: black;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.50);
    margin: 15px;
}
.start{
    width:35%;
    height: 34%;
    border-radius: 10px;
    color: #FCF7BD;
    font-size: medium;
    background-color: black;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.50);
    margin: 15px;
}
.moves_block text{
    color: rgb(1, 1, 1);
}
.moves_block div{
    display: flex;
    flex-direction: column;
}


#seeButton{
    background-color: #00c642;
    border-color: aliceblue;
    width: 55%;
    height: 23%;
    
    position: relative;
    left: 14%;
}
